.highscore-row.locked {
    background: var(--lockedBackground);
}

.highscore-wrapper {
    padding: var(--page-padding);
    user-select: none;
    width: 100%;
    width: 400px;
}

.highscore-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    gap: 10px;
}

.toggle-text{
    width: 8rem;
    white-space: nowrap;
    text-align: center;

}

.toggle-checkbox {
    width: 50px;
    height: 25px;
    appearance: none;
    background: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

.toggle-checkbox:checked {
    background: var(--primary-color, var(--on));
}

.toggle-checkbox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-checkbox:checked::before {
    transform: translateX(25px);
}

.selectedGlobal {
    font-weight: bold;
}

.unselectedGlobal {
    font-weight: normal;
    opacity: 0.6;
}

.highscore-table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

.highscore-header {
    background: var(--background);
    border-bottom: 1px solid #ccc;
}

.header {
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.highscore-row {
    border-bottom: 1px solid #eee;
    min-height: 40px;
}