.highscore-row.locked {
    background: var(--lockedBackground);
}

.highscore-wrapper {
    padding: var(--page-padding);
    user-select: none;
    width: 100%;
}

.highscore-table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
}

.highscore-header {
    background: var(--background);
    border-bottom: 1px solid #ccc;
}

.header {
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.highscore-row {
    border-bottom: 1px solid #eee;
    min-height: 40px;
}