.training-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: var(--page-padding);
}

.training-table-header {
    font-weight: bold;
    font-size: 1.2rem;
    background: var(--background);
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
    padding: 8px;
    margin-bottom: 0.5rem;
}

.training-table {
    width: 100%;
    border-collapse: collapse;
}

.training-header-col {
    font-weight: bold;
    background: var(--background);
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 4px 0 2px 0;
}

.training-row {
    border-bottom: 1px solid #eee;
    min-height: 28px;
}

.training-col {
    text-align: center;
    padding: 2px 0 1px 0;
}

.emoji-col {
    font-size: 1.2rem;
}