.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
}

@media (min-width: 1024px) {
  .board {
    gap: 1.5rem;
  }
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--page-padding);
  margin-bottom: var(--section-gap); /* extra luft mot footer */
}

.temp-level-control {
  display: flex;
  align-items: center;
  height: 1rem;
  gap: 0.625rem;
  margin: var(--section-gap) 0;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--section-gap);
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.tries {
  padding: 0.4rem 1.2rem;
  margin: 0 0.2rem;
  transition: transform 0.1s, box-shadow 0.1s;
}