.highscore-row.selected {
	background: #d0eaff !important;
	font-weight: bold;
}

.highscore-row {
	border-bottom: 1px solid #eee;
	min-height: 40px;
	user-select: none;
}

.highscore-row.unlocked {
	background: var(--unlocked-background);
}

.highscore-row.locked {
	background: var(--locked-background);
}

.highscore-col {
	text-align: center;
	padding: 8px 0;
}