/* .profile-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
} */

.profile-form {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
}

.input-field {
  width: 100%;
}

.avatar-selection {
  margin: var(--section-gap) 0;
}

.avatar-selection .label-title {
  display: block;
  margin-bottom: var(--element-gap);
  color: #333;
  font-weight: 600;
}

.avatar-options {
  display: flex;
  gap: var(--section-gap);
  margin-top: var(--element-gap);
  flex-wrap: wrap;
}

.avatar-option {
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: var(--element-gap);
}

.avatar-option input[type="radio"] {
  margin-right: 0.5rem;
}