.flashing-arrow {
  animation: flash 1s infinite alternate;
  display: inline-block;
  transition: filter 0.2s;
}

@keyframes flash {
  0% {
    filter: brightness(1);
    opacity: 1;
  }
  100% {
    filter: brightness(2.5);
    opacity: 0.3;
  }
}
