.level-navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}

.level-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}


.lvl-nav {
    width: 56px;
}



