.instruction-box {
  position: relative;
  background-color: var(--headerFontColor);
  border: none;
  height: 7rem;
  padding: var(--instruction-box-padding);
  margin: var(--component-margin) auto;
  margin-bottom: 0;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(44, 62, 80, 0.18), 0 1.5px 6px rgba(44, 62, 80, 0.10);
  color: var(--headerFontColorContrast);
  width: 100%;
  max-width: calc(4 * var(--card-size-mobile) + 3 * 0.625rem);
  box-sizing: border-box;
  text-align: center;
}

/* Speak-knapp för att läsa upp instruktionen */
.speak-button {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  bottom: 0.5rem;
  right: 0.5rem;
  background: transparent;
  background: var(--buttonsAndDetails);
  background: var(--off);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(44, 62, 80, 0.18);
  cursor: pointer;
}

.speaker-icon {
  font-size: 1.8rem;
}

.speak-button:hover {
  outline: none;
  transform: scale(1.08);
}

.speak-button:active {
  transform: scale(0.96);
}

.speak-button-on{
  background: var(--on);
}

.instruction-box-content {
  font-family: var(--f1), sans-serif;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .instruction-box {
    max-width: calc(4 * var(--card-size-tablet) + 3 * 1.2rem);
    height: 9rem;
    font-size: 1.3rem;
    padding: var(--page-padding);
  }
  
  .instruction-box-content {
    font-size: 1.3rem;
  }
  
  .speak-button {
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .instruction-box {
    max-width: calc(4 * var(--card-size-desktop) + 3 * 0.7rem);
    height: 6rem; /* Lite högre på desktop */
  }

  .instruction-box-content {
    font-size: 1.2rem;
  }

  .speak-button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
  }
}
